<ion-list>
  <ion-item-sliding *ngFor="let resource of resources">
  <ion-item >
    <ion-label (click)="resourceSelect(resource)">
      <h3>
        {{ resource.name }}
      </h3>
      <p>
        {{ resource.localization }}
      </p>
      <p>
        {{ resource.type }}
      </p>
    </ion-label>
  </ion-item>

  <ion-item-options side="end">
    <ion-item-option color="primary" expandable>
      <ion-icon slot="icon-only" name="trash" (click)="presentAlertConfirm(resource)"></ion-icon>
    </ion-item-option>
  </ion-item-options>

</ion-item-sliding>
</ion-list>
