<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button text="Cancelar"></ion-back-button>
          </ion-buttons>
          <ion-buttons slot="end">
            <ion-button type="submit" [disabled]="!recursoForm.valid">Añadir</ion-button>
          </ion-buttons>
      <ion-title *ngIf="user">Editar recurso</ion-title>
      <ion-title *ngIf="!user">Nuevo recurso</ion-title>
    </ion-toolbar>
  </ion-header>
  
<ion-content>
  <app-resource-form [resourceForm]="resourceForm"></app-resource-form>
</ion-content>
