<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="end">
            <ion-button color="primary" fill="solid" (click)="missingUser()"><ion-icon name="add"></ion-icon></ion-button>
        </ion-buttons>
    <ion-title>Desaparecidos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <app-missing-list [missing_people]="missing_people"></app-missing-list>
</ion-content>
