<ion-list>
  <ion-item *ngFor="let missing_person of missing_people">
    <ion-avatar slot="start">
      <img [src]='missing_person.image'>
    </ion-avatar>
    <ion-label (click)="missingSelect(missing_person)">
      <h3>
        {{ missing_person.name }} {{ missing_person.lastname }}
      </h3>
      <p>
        {{ missing_person.age }}
      </p>
      <p>
        {{ missing_person.gender }}
      </p>
    </ion-label>
    <!-- <ion-thumbnail item-left>
      <img [src]="user.photo" alt="Imgen de un botellín">
    </ion-thumbnail> -->
    <!-- <strong>
      {{ user.name }}
    </strong> -->
    <!-- <ion-button shape="round" fill="outline" slot="end" class="button" (click)="missingSelect(missing_person)">View</ion-button> -->
  </ion-item>
</ion-list>