<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons text="Cancelar" slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
      <ng-container>
        <ion-title>Recurso</ion-title>
        <ion-buttons slot="end">
          <ion-button (click)="editResource()"><ion-icon name="edit"></ion-icon></ion-button>
      </ion-buttons>
      </ng-container>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <app-resource-detail *ngIf="resource" [resource]="resource"></app-resource-detail>
  </ion-content>
  
