<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons  slot="start">
          <ion-back-button text=""></ion-back-button>
      </ion-buttons>
    <ng-container>
      <ion-title>Recurso</ion-title>
      <ion-buttons slot="end">
        <ion-button (click)="editResource()"><ion-icon name="create"></ion-icon></ion-button>
    </ion-buttons>
    </ng-container>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-resource-detail *ngIf="resource" [resource]="resource"></app-resource-detail>
</ion-content>

