<form [formGroup]="userForm">
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input type="text" formControlName="name"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Dni</ion-label>
    <ion-input type="text" formControlName="dni"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Edad</ion-label>
      <ion-input type="number" formControlName="age" ></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Teléfono</ion-label>
    <ion-input type="text" formControlName="phone"></ion-input>
  </ion-item>
  <ion-item>
      <ion-label>Tipo</ion-label>
      <ion-select formControlName="tipo" placeholder="Select One" >
        <ion-select-option *ngFor="let tipo of tipos" [value]="tipo">{{ tipo }}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
      <ion-label>Perfil</ion-label>
      <ion-select formControlName="perfil" placeholder="Select One" >
        <ion-select-option *ngFor="let perfil of perfiles" [value]="perfil">{{ perfil }}</ion-select-option>
      </ion-select>
  </ion-item>
  <ion-item>
    <ion-label>Email</ion-label>
    <ion-input type="text" formControlName="email"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Contraseña</ion-label>
    <ion-input type="password" formControlName="password"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Confirme contraseña</ion-label>
    <ion-input type="password" formControlName="password_confirmation"></ion-input>
  </ion-item>
  <!-- <p *ngIf="userForm.get('password').value !== userForm.get('password_confirmation')">
    Passwords do not match
    </p> -->
</form>
