<form [formGroup]="resourceForm">
    <ion-item>
      <ion-label>Recurso</ion-label>
      <ion-input type="text" formControlName="name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Localización</ion-label>
      <ion-input type="text" formControlName="localization"></ion-input>
    </ion-item>
    <ion-item>
        <ion-label>Categoría</ion-label>
        <ion-select formControlName="category" placeholder="Select One" >
          <ion-select-option *ngFor="let category of categorias" [value]="category">{{ category }}</ion-select-option>
        </ion-select>
    </ion-item>
</form>
  